[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
gpiozero = "*"
casperfpga = {git = "git+https://github.com/casper-astro/casperfpga.git#egg=casperfpga"}
python-utils = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.19"
